.chatting_robot{
    width: 200px;
    height: 170px;
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 2;
}

.chatting_robot .chatting{
    text-align:center;
    font-size: 15px;
    font-weight: bold ;
    line-height: 55px;
    height: 100px;
    width: 100%;
    background-image: url(./images/말풍선.webp);
    filter: contrast(60%);
    background-position: center;
    background-size: cover;
    visibility: hidden;
}

.chatting_robot .robot{
    width: 90px;
    height: 90px;
    background-image: url(./images/wallE.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 3;
}
.chatting_robot .robot:hover + .chatting{
    visibility: visible;
}   
